/* 
:root {
	--marginTopFooter: 0px; 
	--heightFooter: 135px;
	--paddingTopFooter: 50px;
	--paddingBottomFooter: 0px;
} 
*/

html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;

}

.pushFooter {
	/* padding-bottom: calc(var(--marginTopFooter) + var(--heightFooter) + var(--paddingTopFooter) + var(--paddingBottomFooter)); */
	padding-bottom: calc(0px + 135px + 50px + 0px);
}

footer {
	/* padding-top: var(--paddingTopFooter); */
	padding-top: 50px;
	/* padding-bottom: var(--paddingBottomFooter); */
	padding-bottom: 0px;
	color: white;
	bottom: 0;
	position: absolute;
	/* height: var(--heightFooter); */
	height: 135px;
	width: 100%;
	background-color: #202229;
	/* background-color: #414749; */
}