body{
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}

header { 
    min-height: 100vh;
    height: auto;
}

nav {
    text-shadow: 1px 1px grey;
    display: flex;
    height: 100px;
    color: white;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,.4);
    box-shadow: 0px 2px black;
}

.childNav {
    width: 200px;
    text-align: center;
}

.about{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: baseline;
}

.aboutMe {
    width: 640px;
    background-color: rgba(0,0,0,.4);
    padding: 30px;
    box-shadow: 5px 5px 2px black;
}

.socialLinks{
    text-align: center;
    padding: 30px;
    background-color: rgba(0,0,0,.7);
     box-shadow: 5px 5px 2px black;
}

.about a { 
    width: 320px;
    margin-bottom: 10px;
    padding: 15px;
    border: 2px solid white;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.about a:hover { 
    border-style: dotted;
}


nav a {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

nav a:hover{
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid white;
}

.picture{
    background: url('../IMG/niebieskie_kartki.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.animated {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}



/* projects */

.projects {
    padding-top: 100px;
    padding-bottom: 100px;

    background: #080E33;
    /* background: #0C154A; */
    /* background: #111E6C; */
    /* background: #192DA1; */
    /* background: #2039CC; */
    /* #E6B40B */
    
    /* background: #194A8D; */
    /* background: #011C40; */
    /* background: #032859; */
    
    color: white;
}

.projects article{
    margin-left: 10%;
    margin-right: 10%;
}

.projectsProlog {
    display:flex;
}

.projectsProlog h3 {
    max-width: 60%;
    margin-right: 50px;
}

.projectsProlog img {
    width: 300px;
    height: auto;
}

.projectRectangleParent{
    margin-top:70px;
    display: flex;
}

.projectRectangleChild{
    width: 300px;
    background: red;
}


















@media (max-width: 1200px) {
    nav .childNav:nth-child(2) {
        display: none;
    }

    .about{
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .aboutMe{
        width: 80%;
    }

    .socialLinks {
        margin-top: 70px;
        width: 80%;
        margin-bottom: 70px;
    }


}

@media (max-width: 600px) {

    nav .childNav {
        width: 150px;
        font-size: 15px;
    }

    nav .childNav {
        text-align: center
    }

    .aboutMe {
        width: calc(90% - 24px);
        padding-left: 12px;
        padding-right: 12px;
    }

    .about a {
        width: 230px;
    }

    .socialLinks {
        width: 90%;
        padding-left:0;
        padding-right:0;
        background-color: rgba(0,0,0,.4);

    }

    .projectsProlog h3 {
        max-width: 90%;
    }

    .picture{
        background-position: left;
    }

    .projects article{
        margin-left: 5%;
        width: 90%;
    }

    .projectsProlog img {
        display:none;
    }



}

