body{
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}

header { 
    min-height: 100vh;
    height: auto;
}

nav {
    text-shadow: 1px 1px grey;
    display: flex;
    height: 100px;
    color: white;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,.4);
    box-shadow: 0px 2px black;
}

.childNav {
    width: 200px;
    text-align: center;
}

.about{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: baseline;
}

.aboutMe {
    width: 640px;
    background-color: rgba(0,0,0,.4);
    padding: 30px;
    box-shadow: 5px 5px 2px black;
}

.socialLinks{
    text-align: center;
    padding: 30px;
    background-color: rgba(0,0,0,.7);
     box-shadow: 5px 5px 2px black;
}

.about a { 
    width: 320px;
    margin-bottom: 10px;
    padding: 15px;
    border: 2px solid white;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.about a:hover { 
    border-style: dotted;
}


nav a {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

nav a:hover{
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid white;
}

.picture{
    background: url('../IMG/niebieskie_kartki.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.animated {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


@media (max-width: 1200px) {
    nav .childNav:nth-child(2) {
        display: none;
    }

    .about{
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .aboutMe{
        width: 80%;
    }

    .socialLinks {
        margin-top: 70px;
        width: 80%;
        margin-bottom: 50px;
    }


}

@media (max-width: 600px) {

    nav .childNav {
        width: 150px;
        font-size: 15px;
    }

    nav .childNav {
        text-align: center
    }

    .aboutMe {
        width: 80%;
    }

    .about a {
        width: 250px;
    }

    .picture{
    background-position: right;
}


}

