@layer quotes {
	.quoteCard {
		position: relative;
		padding: 30px;
		border: 5px solid var(--n23-color-primary);
	}

	.quoteCardId {
			position: absolute;
			font-size: 15px;
			bottom: 2.5px;
			right: 5px;
			color: black
		}
}
