@layer n23Footer {
  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    position: relative;
  }

  .footerPush {
    /* footerContent + 75px */
    padding-bottom: 225px;
  }

  .footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* others */
    background-color: #222;
    height: 150px;
  }
}
