@layer gallery {
	.galleryPic {
		width: 100%;
		height: auto;
		border: 2px solid black;
		box-sizing: border-box;
		background-color: #c8c4c4;

		& img {
			display: grid;
			width: 100%;
			aspect-ratio: var(--n23-img-ar);
		}
	}
}
