@layer gallery {
	.galleryPic {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		border: 2px solid black;
		position: relative;
	}

	.galleryPic img {
		opacity: 0;
		transition: opacity 250ms ease-in-out;
		display: grid;
		width: 100%;
		aspect-ratio: var(--n23-img-ar);
	}

	.galleryPic.loaded img {
		opacity: 1;
	}
}
