.header-wrapper {
	width: 100%;
	background-color: #e6e6e6;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}


.header-container {
	max-width: 1920px;
	padding-left: 42px;
	padding-right: 42px;
	background-color: #e6e6e6;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.header-menu,
.header-logo {
	height: 120px;
	display: flex;
	align-items: center;
}

.header-logo a {
 	all:unset;
	cursor: pointer;
	font-size: 40px;
	font-weight: 800;
}

.header-logo-title {
	background: linear-gradient(to top right,
	#3D182B calc(19% - 1px),
	rgba(0,0,0,0) 19%,
	rgba(0,0,0,0) calc(20% - 1px),
	#FF9800 20%,
	#FF9800 calc(39% - 1px),
	rgba(0,0,0,0) 39%,
	rgba(0,0,0,0) calc(40% - 1px),
	#FF005A 40%,
	#FF005A calc(59% - 1px),
	rgba(0,0,0,0) 59%,
	rgba(0,0,0,0) calc(60% - 1px),
	#AD0626 60%,
	#AD0626 calc(79% - 1px),
	rgba(0,0,0,0) 79%,rgba(0,0,0,0) calc(80% - 1px),
	grey 80%);

	background-clip: text;
	-webkit-background-clip: text;
	color: rgba(0,0,0,0);
}

@media (max-width: 500px) {
	.header-container {
		padding-left: 0;
		padding-right: 0;
		width: 90%;
	}

	.header-logo a {
		font-size: 22px;
	}

}
