@layer n23Contact {
  .mapContainerWrapper {
    border-radius: 12px;
    corner-shape: squircle;
    padding: 5px;
  }

  .mapContainerWrapper :global(.leaflet-container) {
    border: 2px solid black;
    border-radius: 12px;
    corner-shape: squircle;
  }
}
