@layer n23Audio {
  .audioScene {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 69, 0);
    will-change: auto;
  }
}
