	.textarea-with-label,
	.input-with-label {
		display: flex;
		flex-direction: column;
		max-width: 480px;
	}

	.textarea-with-label label,
	.input-with-label label {
		font-size: clamp(0.875rem, 0.231vw + 0.815rem, 1rem);
		line-height: clamp(1.4rem, 0.37vw + 1.304rem, 1.6rem);
	}

	form > * + * {
		margin-top: 1.1rem;
	}

	.input-with-label input {
		box-sizing: border-box;
		height: 40px;
		font-size: 16px;
		font-weight: 500;
		padding: 10px;
		font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

	}

	.textarea-with-label textarea {
		padding: 10px;
		box-sizing: border-box;
		min-height: 200px;
		max-width: 480px;
		max-height: 400px;
		font-size: 16px;
		font-weight: 500;
		font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	}

	.textarea-with-label .error,
	.input-with-label .error {
		font-size: 14px;
		line-height: 1;
		margin: 2px;
		color: red;
	}

	.custom-msg {
		padding-top: 10px;
		font-size: 14px;
		line-height: 1;
		margin: 2px;
		color: grey;
	}