.forecast-data {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	width: 250px;
	margin-bottom: 3px;
}

.forecast-data .select-custom {
	width: 250px;
	margin-bottom: 10px;
}

.forecast-data .input-text-with-label label {
	font-size: 16px;
}

.forecast-data-current {
	width: 250px;
	height: 397px;
}

@media (max-width: 500px) {
	.forecast-data {
		width: 100%;
	}

	.forecast-data-current,
	.forecast-data .input-text-with-label,
	.forecast-data .select-custom {
		width: 100%;
	}
}