.forecast-data {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	width: 250px;
	margin-bottom: 3px;
}

.forecast-data .select-custom {
	width: 250px;
	margin-bottom: 10px;
}

.forecast-data .input-text-with-label label {
	font-size: 16px;
}

.forecast-data-current {
	width: 250px;
	height: 397px;
}

.forecast-wrapper {
	display: flex;
}

.forecast-data-8Days-wrapper {
	margin-top: -20px;
	margin-left: 40px;
	width: calc(100% - 290px);
}

.forecast-data-8Days-wrapper .carousel-section {
	padding-right: 0;
}

.forecast-desc article p {
	font-size: 20px;
	max-width: 700px;
	line-height: 1.3;
}

@media (max-width: 500px) {
	.forecast-data {
		width: 100%;
	}

	.forecast-data-8Days-wrapper .forecast-data {
		width: 250px;
	}

	.forecast-data-current,
	.forecast-data .input-text-with-label,
	.forecast-data .select-custom {
		width: 100%;
	}
}

@media (max-width: 900px) {
	.forecast-wrapper {
		display: block;
	}

	.forecast-data-8Days-wrapper {
		width: 100%;
		margin-top: 0;
		margin-left: 0;
	}

	.forecast-data-8Days-wrapper .carousel-content,
	.forecast-data-8Days-wrapper .carousel-section {
		margin-left: 0;
		padding-left: 0;
	}

	.forecast-data-8Days-wrapper .carousel-content {
		padding-right: 42px;
	}
}