@layer n23Weather {
  .weatherSelectWrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .weatherForecastData {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 3px;
  }
}
