.slideshow,
.slideshow-wrapper,
.slideshow-slide {
  height: 500px;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.slideshow {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
	position: relative;
}

.slideshow-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slideshow-slides {
  display: flex;
  position: relative;
  top: 0;
  left: -100%;
  width: 10000px;
	text-align: center;
}

/* https://medium.com/outsystems-experts/how-to-achieve-60-fps-animations-with-css3-db7b98610108 */
.slideshow-slides.shifting {
  transition: left 0.2s ease-out;
	will-change: transform, box-shadow, z-index;
}

.slideshow-slide {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background: grey;
  border-radius: 2px;
}


.slideshow-control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
	transition: all 0.2s ease-in-out;
}

.slideshow-control:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
}

.slideshow-prev,
.slideshow-next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slideshow-prev {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
  left: 20px;
}

.slideshow-next {
  background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
  right: 20px;
}

@media only screen and (max-width: 600px) {
	.slideshow-control {
		width: 30px;
		height: 30px;
	}
}





/* custom for special carousel */
#slideshow1.slideshow,
#slideshow1 .slideshow-wrapper,
#slideshow1 .slideshow-slide {
  height: 600px;
}

#slideshow1 .slideshow-slide img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@media only screen and (max-width: 600px) {
	#slideshow1.slideshow,
	#slideshow1 .slideshow-wrapper,
	#slideshow1 .slideshow-slide {
		height: 400px;
	}
}