/* https://fluidtypography.com/ */

@layer homeContent {
	.homeContent {
		padding-left: 100px;
		padding-right: 100px;
		padding-top: 125px;
		padding-bottom: 0;

		@media (max-width: 1199.98px) {
			padding-left: 35px;
			padding-right: 35px;
			padding-top: 35px;
			padding-bottom: 150px;
		}
	}

	.homeContent.last {
		@media (max-width: 1199.98px) {
			padding-bottom: 50px;
		}
	}

	.homeContentSpace {
		margin-bottom: 150px;

		@media (max-width: 1199.98px) {
			margin-bottom: 20px;
		}
	}

	.socialMedia {
		margin-top: 50px;
		margin-bottom: 50px;
		& span {
			font-size: clamp(2.375rem, 2.125vw + 1.825rem, 4.375rem);
			line-height: clamp(3.563rem, 2.258vw + 2.978rem, 5.688rem);
			margin-right: 20px;
		}
	}

	.pageLinks {
		font-weight: var(--n23-font-weight-normal);
		font-family: var(--n23-font-family);

		font-size: clamp(1.375rem, 0.398vw + 1.272rem, 1.75rem);
		line-height: clamp(1.513rem, 0.81vw + 1.303rem, 2.275rem);

		display: flex;
		gap: 15px;

		& a {
			color: var(--n23-color-font);
			text-decoration: none;
			transition: 0.2s;

			font-size: clamp(1.375rem, 0.398vw + 1.272rem, 1.75rem);
			line-height: clamp(1.513rem, 0.81vw + 1.303rem, 2.275rem);

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.deathlyHallows {
		display: flex;
		justify-content: flex-end;
		padding-right: 110px;

		@media (max-width: 1199.98px) {
			display: none;
		}
	}

	.veil {
		width: 0;
		height: 0;
		border-right: 80px solid transparent;
		border-bottom: 140px solid var(--n23-color-surface);
		border-left: 80px solid transparent;
		position: relative;
	}

	.veil:after {
		width: 0;
		height: 0;
		border-right: 90px solid transparent;
		border-bottom: 160px solid var(--n23-color-font);
		border-left: 90px solid transparent;
		position: absolute;
		top: -13.5px;
		left: -90px;
		z-index: -1;
		content: "";
	}

	.stone {
		width: 95px;
		height: 95px;
		border: 5px solid var(--n23-color-font);
		border-radius: 50%;
		position: relative;
		left: -53px;
		bottom: -41px;
		transition: left 1s;
	}

	.veil:hover > .stone {
		left: -200px;
	}

	.wand {
		width: 5px;
		height: 145px;
		background: var(--n23-color-font);
		position: absolute;
		top: 0px;
		left: -2.5px;
		transition: left 1s;
	}

	.veil:hover > .wand {
		left: 110px;
	}
}
