.bnavbar-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: fixed;
  z-index: 20;
  top: 1rem;
  right: 1rem;
  background: rgba(0,0,0,0);
  border: none;
  outline: none;
  padding: 0;
}
.bnavbar-toggle .line {
  fill: none;
  transition-delay: 400ms, 0;
  transition-property: stroke, stroke-dasharray, stroke-dashoffset;
  transition-timing-function: ease;
  transition-duration: 400ms;
  stroke: red;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.bnavbar-toggle .line.top {
  stroke-dasharray: 40 139;
/*   transform: translateY(3px); */
}
.bnavbar-toggle .line.bottom {
  stroke-dasharray: 20 180;
  stroke-dashoffset: -20px;
/*   transform: translateY(-3px); */
}
.bnavbar-toggle.active {
  transform: rotate(45deg);
}
.bnavbar-toggle.active .line {
  stroke: #24272B;
}
.bnavbar-toggle.active .line.top {
  stroke-dashoffset: -98px;
}
.bnavbar-toggle.active .line.bottom {
  stroke-dashoffset: -138px;
}
.bnavbar-toggle:not(.active):hover .line.bottom {
  stroke-dasharray: 40 180;
  stroke-dashoffset: 0px;
}

.wrapper-menu {
	position: relative;
}

.bnavbar {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
}

.bnavbar ul {
  width: 100%;
  max-width: 400px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.bnavbar ul li a {
  margin-left: 50px;
  color: #24272B;
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-align: left;
  padding: 20px 0;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease 500ms;
  position: relative;
}
.bnavbar ul li a:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  opacity: 0;
  transition: opacity ease 500ms;
}
.bnavbar ul li a:hover {
  letter-spacing: 3px;
}
.bnavbar ul li a:hover:before {
  opacity: 0.2;
}

#bg-circle {
  transform: scale(0);
  width: 80px;
  height: 80px;
  background: whitesmoke;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  z-index: 1;
}