@layer weather {
	.weatherStyled {
		margin-bottom: 150px;
		padding: 40px 100px 0 100px;

		@media (max-width: 1199.98px) {
			padding: 50px 20px 0 20px;
		}

		font-weight: var(--n23-font-weight-normal);
		font-family: var(--n23-font-family);

		h1 {
			font-size: 72px;
			margin-top: 0;
			margin-bottom: 0;
			line-height: 115%;
			text-wrap: balance;
		}

		h2 {
			font-size: 42px;
			color: #0d0d0d;
			text-wrap: balance;
		}

		h3 {
			max-width: 900px;
			font-size: 32px;
			color: #0d0d0d;
			text-wrap: balance;

			@media (max-width: 767.98px) {
				padding-bottom: 0;
				margin: 0;
			}
		}

		p,
		ul {
			max-width: 900px;
			font-size: 22px;

			@media (max-width: 767.98px) {
				font-size: 20px;
			}
		}

		ul li {
			margin: 15px 5px;
		}

		@media (max-width: 767.98px) {
			margin-bottom: 50px;
		}
	}

	.selectWrapper {
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 20px;
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
	}

	.forecastDataWrapper {
		display: flex;
		gap: 60px;

		@media (max-width: 767.98px) {
			display: block;
		}
	}

	.forecastDataCurrent {
		width: 250px;
		height: 421px;
		margin-bottom: 20px;
	}

	.forecastDataStyle {
		font-size: 20px;
		display: flex;
		justify-content: space-between;
		width: 250px;
		margin-bottom: 3px;
	}
}
