@layer weather {
  .weatherSelectWrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .weatherWrapper {
    display: flex;
    gap: 60px;

    @media (max-width: 1199.98px) {
      display: block;
    }
  }

  .weatherCurrent {
    width: 250px;
    height: 421px;
    margin-bottom: 20px;
  }

  .weatherForecastData {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 3px;
  }
}
