@layer apod {
	.apod {
		& section:not(:last-of-type) {
			margin-bottom: 150px;
		}

		& img {
			margin-top: 25px;
		}

		@media (max-width: 575.98px) {
			& section:not(:last-child) {
				margin-bottom: 100px;
			}

			& img {
				margin-top: 0;
			}
		}

		& span img {
			@media (max-width: 575.98px) {
				height: 200px;
				width: auto;
				object-fit: contain;
			}
		}

		& dialog img {
			max-height: 70vh;
			object-fit: contain;
		}

		.pagination {
			margin-top: 85px;
			display: flex;
			gap: 10px;
		}
	}
}
