/* https://wiryawanadipa.com/blog/calculate-percentage-width-of-flex-items-when-using-gap/ */

:root {
  --flex-items: 3;
	--flex-gap: 40px;
}


.flexbox-cards-container {
	display: flex;
	column-gap: var(--flex-gap);
	row-gap: var(--flex-gap);
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.flexbox-cards-item {
	background-color: whitesmoke;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: calc((100% / var(--flex-items)) - (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap)));
}

.flexbox-card-item-img {
	font-size: 100px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
}

.flexbox-card-item-text {
	padding: 20px;

}

/* breakpoints */
@media (max-width: 575.98px) {
	.flexbox-cards-item {
		--flex-items: 1;
	}
}

@media (min-width: 576px) and (max-width: 991.98px) {
	.flexbox-cards-item {
		--flex-items: 2;
	}
}

@media (min-width: 992px) and (max-width: 1599.98px) {
	.flexbox-cards-item {
		--flex-items: 3;
	}
}

@media (min-width: 1600px) {
	.flexbox-cards-item {
		--flex-items: 4;
	}
}
