@layer n23Home {
  .homeLine {
    width: 100%;
    height: 2px;
    background-color: rgb(225, 223, 223);
  }

  .meDesc {
    width: calc(100% - 514px);

    @media (max-width: 949.98px) {
      width: 100%;
    }
  }

  .homeSliderScrollItems {
    align-items: center;
    display: flex;
    height: 240px;
    width: 300px;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid black;
  }

  .homeSliderItemsDesktop {
    .homeSliderItemsPicture {
      align-items: center;
      background: #f7f6f6;
      display: flex;
      justify-content: center;
      border: 2px solid black;
      box-sizing: border-box;
    }

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  .homeSliderItemsMobile {
    display: none;

    .homeSliderItemsPicture {
      align-items: center;
      background: #f7f6f6;
      display: flex;
      justify-content: center;
      border: 2px solid black;
      box-sizing: border-box;
    }

    @media (max-width: 767.98px) {
      display: block;
    }
  }

  .callMe {
    text-align: center;
  }
}
