/* https://fluidtypography.com/ */

@layer Home {
  .card {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
}
