@layer n23Home {
  .meDesc {
    width: calc(100% - 514px);

    @media (max-width: 949.98px) {
      width: 100%;
    }
  }

  .homeSliderTech {
    align-items: center;
    display: flex;
    height: 240px;
    width: 300px;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid black;
  }

  .homeSliderProjects {
    .homeSliderProjectsWrapper {
      height: 700px;
      width: 100%;

      @media (max-width: 767.98px) {
        height: 600px;
        width: 100%;
      }
    }

    .homeSliderProjectsPicture {
      align-items: center;
      background: #f7f6f6;
      display: flex;
      justify-content: center;
      border: 2px solid black;
      box-sizing: border-box;
    }
  }
}
