@layer n23Home {
  .homeSliderScrollItems {
    align-items: center;
    display: flex;
    height: 360px;
    width: 300px;
    justify-content: center;

    @media (max-width: 767.98px) {
      width: 260px;
    }
  }
}
