@layer n23Home {
  .homeLine {
    width: 100%;
    height: 20px;
    background-color: rgb(225, 223, 223);
  }

  .homeSliderScrollItems {
    align-items: center;
    display: flex;
    height: 240px;
    width: 300px;
    justify-content: center;
  }

  .homeSliderItemsDesktop {
    .homeSliderItemsPicture {
      align-items: center;
      background: #f7f6f6;
      display: flex;
      justify-content: center;

      img {
        width: auto;
        height: 600px;
      }
    }

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  .homeSliderItemsMobile {
    display: none;

    .homeSliderItemsPicture {
      align-items: center;
      background: #f7f6f6;
      display: flex;
      justify-content: center;

      img {
        width: auto;
        height: 450px;
      }
    }

    @media (max-width: 767.98px) {
      display: block;
    }
  }
}
