@import "sheets-of-paper-a4";

.noselect {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.section-title-line {
	width: 300px;
	height: 3px;
	background-color: orangered;
	margin-top: 3px;
	margin-bottom: 10px;
}

.section-title {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.section-title::first-letter {
	font-size: 22px;
}

.section-desc {
	font-size: 15px;
}

.intro {
	display: flex;
	margin-bottom: 80px;
}

.intro-title {
	width: 60%;
}

.intro-title-name {
	font-size: 45px;
}

.intro-title-desc {
	font-size: 14px;
	color: orangered;
}

.intro-links {
	width: 40%;
}

.intro-link {
	text-align: right;
	font-size: 13px;
	margin-top: 2px;
}

.about {
	margin-top: 30px;
	margin-bottom: 20px;
}

.section-2-col {
	display: flex;
	gap: 30px;
	margin-top: 10px;
}

.section-2-col-desc-title {
	font-size: 18px;
}

.exp {
	margin-top: 20px;
	margin-bottom: 20px;
}

.skills-container {
	display: flex;
	align-items: baseline;
	gap: 10px;
	flex-wrap: wrap;
}

.skills {
	margin-bottom: 20px;
}

.project {
	margin-top: 20px;
	margin-bottom: 30px;
}

.project-tech {
	font-size: 12px;
}

.utils {
	display: flex;
	justify-content: space-between;
}

.corner-right {
	padding-top: 20px;
	padding-right: 20px;
	display: flex;
	column-gap: 10px;
}

.corner-right button {
	background: white;
	height: 40px;
	width: 40px;
	padding: 10px;
	border: 1px solid orangered;
	border-radius: 50%;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}

.corner-left {
	margin-top: 20px;
	margin-left: 20px;
}

.language {
	display: flex;
	gap: 10px;
	position: fixed;
}

.language button{
	background: white;
	height: 40px;
	width: 40px;
	padding: 10px;
	border: 1px solid orangered;
	border-radius: 50%;
	font-weight: 600;
}

.corner-left .update {
	font-size: 10px;
	margin-top: 50px;
	font-weight: 700;
}