.foot {
    margin-top: 200px;
}

.foot-box{
    background-color: #24272b;
    margin-top: -10px;
    padding: 100px 0 100px 0;
    font-weight: 800;

}

.foot-item {
    width: 1000px;
    margin: 0px auto 0px auto;
    line-height: 175%;
    text-align: left;
    color: white;
}




.flex-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-columns-item {
    margin-bottom: 75px;
}




.foot-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-social a {
    text-decoration: none;
}

.foot-social-item {
    width: 50px;
    text-align: center;
    color: white;
}

@media (max-width: 1000px) {
    .flex-columns {
        flex-flow: column wrap;
    }
    .foot-social-item {
        text-align: left;
    }

    .foot-item {
        width: 90%;
    }
}