#masonry3-container,
#masonry1-container,
#masonry2-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

#masonry3-container {
  margin-top: 0;
}

#masonry1-container div[id^="masonry1-child"],
#masonry2-container div[id^="masonry2-child"] {
  background-color: #24272b;
  padding: 40px;
  font-size: 1.1em;
  line-height: 1.5em;
  border: 3px solid;
  -o-border-image: linear-gradient(to right, #705e78 0%, grey 100%);
  border-image: linear-gradient(to right, #705e78 0%, grey 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  position: relative;
}

#masonry2-container div[id^="masonry2-child"] {
  padding: 30px;
}

#masonry1 div[id^="masonry1-child"] p,
#masonry2 div[id^="masonry2-child"] p {
  margin-top: 15px;
  font-size: 1em;
  line-height: 1.3em;
}

#masonry1 div[id^="masonry1-child"] h2,
#masonry2 div[id^="masonry2-child"] h2 {
  font-size: 1.3em;
  line-height: 1.3em;
}




@media (max-width: 1200px) {
  #masonry1-container,
  #masonry2-container,
  #masonry3-container {
    width: 90%;
  }

  #masonry1 div[id^="masonry1-child"] p,
  #masonry2 div[id^="masonry2-child"] p {
    font-size: 0.7em;
  }

  #masonry1 div[id^="masonry1-child"] h2,
  #masonry2 div[id^="masonry2-child"] h2 {
    font-size: 1em;
  }

  .fa-li {
    top: -7px;
  }

  #masonry1-container div[id^="masonry1-child"],
  #masonry2-container div[id^="masonry2-child"] {
      padding: 15px;
  }
}
