.menu {
  background-color: #0d0d0d;
  /* background-color: #24272b; */
}

.orange {
  color: #ff8c00;
}

.menu-box {
  width: 1200px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-title {
  height: 6rem;
  line-height: 6rem;
  letter-spacing: 2px;
  font-size: 1.4rem;
  word-spacing: 5px;
}

nav,
.menu-list a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  font-weight: 700;
}

.menu-list a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: orange;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  height: 5rem;
}

.menu-list li {
  padding-left: 40px;
  text-align: right;
}

.menu-list li a {
  border: 3px solid;
  -o-border-image: linear-gradient(to right, orangered 0%, orange 100%);
  border-image: linear-gradient(to right, orangered 0%, orange 100%);
  border-image-slice: 1;
  border-width: 3px;
  padding: 10px;
}

.menu-list li a:hover {
  text-decoration: none;
}

/* HAMBURGER MENU */
.scroll {
  overflow: hidden;
}

.hideLink {
  visibility: hidden;
  transition: visibility 0s 0.4s;
}

.hamburger {
  display: none;
}

.hamburger-button {
  padding: 10px 10px 6px 10px;
  position: fixed;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0); /* transparent - ios has problem with hex */ 
  border: 2px solid orange;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 10000;

}

.hamburger-button,
.menu-mobile {
  transition: transform 0.2s 0.1s ease-in-out, visibility 0s 0.0s;
}

.hamburger-box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-box-line {
  width: 100%;
  height: 3px;
  background-color: orange;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger-box-line::before,
.hamburger-box-line::after {
  width: 100%;
  height: 3px;
  background-color: orange;
  position: absolute;
  content: "";
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}

.hamburger-box-line::before {
  top: -8px;
}

.hamburger-box-line::after {
  top: 8px;
}

.hamburger-active .hamburger-box-line {
  background-color: transparent;
}

.hamburger-active .hamburger-box-line:before {
  transform: translateY(8px) rotate(225deg);
}

.hamburger-active .hamburger-box-line:after {
  transform: translateY(-8px) rotate(-225deg);
}

.menu-mobile {
  height: 100vh;
  width: 100%;
  color: orange;
  background-color: #575151;
  visibility: hidden;
  transform: translateY(100%);
  position: fixed;
  z-index: 9999;
}

/* Only Chrome */
.menu-mobile::-webkit-scrollbar {
  width: 5px;
}
.menu-mobile::-webkit-scrollbar-thumb {
  background-color: orange;
  background-clip: padding-box;
  border: 1px solid #0d0d0d;
}
.menu-mobile::-webkit-scrollbar-track {
  background-color: #0d0d0d;
}
::-webkit-scrollbar-button {
  background-color: #0d0d0d;
}
/* Only IE */
.menu-mobile {
  scrollbar-face-color: orange;
  scrollbar-shadow-color: #0d0d0d;
  scrollbar-highlight-color: #0d0d0d;
  scrollbar-arrow-color: #0d0d0d;
}
/* Only FireFox */
.menu-mobile {
  scrollbar-color: orange #0d0d0d;
  scrollbar-width: thin !important;
}

.menu-mobile-active {
  transform: translateY(0px);
  transition: transform 0.3s 0.1s ease-in-out, visibility 0s 0s;
  visibility: visible;
  overflow-y: auto;
}

.menu-mobile-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  max-height: calc(100% + 650px);
  min-height: calc(100% - 200px);
  padding-top: 100px;
  padding-bottom: 100px;
}

.menu-mobile-links li {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.8em;
  width: 80%;
}

.menu-mobile-links li:nth-last-child(2) {
  margin-bottom: 0;
}

.menu-mobile-links a {
  text-decoration: none;
  color: white;
  font-size: 40px;
}

.menu-mobile-links li:last-child {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
}
.menu-mobile-links li:first-child {
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.screen-read-only {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0px;
}

@media only screen and (max-width: 1200px) {
  .hamburger {
    display: block;
  }
  .menu-list {
    display: none;
  }
  .menu-box {
    width: 90%;
  }
}
