.menu {
    background-color: #24272b;
}

.menu-box {
    width: 1000px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-title {
    height: 5rem;
    line-height: 5rem;
    letter-spacing: 2px;
    font-size: 1.4rem;
    word-spacing: 5px;
}

nav, .menu-list a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 700;
}

.menu-list a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: orange;
}

.menu-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    height: 5rem;
}

.menu-list li {
    padding-left: 40px;
    text-align: right;
}

/* HAMBURGER MENU */
.scroll {
    overflow: hidden;
}

.hideLink {
    visibility: hidden;
    transition: visibility 0s .4s;
}

.hamburger {
    display: none;
}

.hamburger-button {
    margin-left: 7%;
    padding: 10px 10px 6px 10px;
    position: fixed;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid orange;
    top: 20px;
    left: -10px;
    z-index: 10000;
}

.hamburger-button, .menu-mobile {
    transition: transform .3s .1s ease-in-out, visibility 0s .4s;
}

.hamburger-box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-box-line {
    width: 100%;
    height: 3px;
    background-color: orange;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
}

.hamburger-box-line::before, .hamburger-box-line::after {
    width: 100%;
    height: 3px;
    background-color: orange;
    position: absolute;
    content: '';
    left: 0;
    transition: transform .2s .2s ease-in-out;
}

.hamburger-box-line::before {
    top: -8px;
}

.hamburger-box-line::after {
    top: 8px;
}

.hamburger-active .hamburger-box-line {
    background-color: transparent;
}

.hamburger-active .hamburger-box-line:before {
    transform: translateY(8px) rotate(225deg);
}

.hamburger-active .hamburger-box-line:after {
    transform: translateY(-8px) rotate(-225deg);
}

.menu-mobile {
    /* margin-top: -84px; */
    height: 100vh;
    width: 100%;
    background-color: grey;
    visibility: hidden;
    transform: translateX(-100%);
    position: fixed;
    z-index: 9999;
}

.menu-mobile-active {
    transform: translateX(0px);
    transition: transform .3s .1s ease-in-out, visibility 0s 0s;
    visibility: visible;
    overflow-y: auto;
}

.menu-mobile-links {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    max-height: calc(100% + 650px);
    min-height: calc(100% - 200px);
    padding-top: 100px;
    padding-bottom: 100px;
    text-shadow: 1px 1px whitesmoke;

  }

  .menu-mobile-links a {
    text-decoration: none;
    color: white;
    font-size: 50px;
  }

  .menu-mobile-links li:last-child{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
  } 
  .menu-mobile-links li:first-child{
      margin-bottom: 50px;
      letter-spacing: 2px;
  }

.screen-read-only {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 0px;
}






@media (max-width: 1000px) {
    .hamburger {
        display: block;
    }
    .menu-list {
        display: none;
    }
    .menu-box {
        width: 90%;
    }
}