/*======================
    404 page
=======================*/
body {
	background-color: white;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(/public/404.gif);
  height: 400px;
  background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}
