@layer n23Navigation {
  .navigationLogo {
    width: 20px;
    height: 20px;
  }

  .navigationLine {
    width: 100%;
    height: 2px;
    background-color: rgb(225, 223, 223);
  }

  @media (max-width: 767.98px) {
    .navigationTabMenu {
      display: none;
    }
  }
}
