@layer n23SyntaxHighlight {
  .n23SyntaxHighlight {
    code {
      font-size: 16px;
    }

    .codeWrap {
      background: #f5f7fa;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding-bottom: 5px;
    }

    pre {
      padding: 10px 20px 20px 20px;
      overflow-x: auto;
      margin-top: 0;
      background: #f5f7fa !important;
    }

    .copyButtonSticky {
      padding-top: 20px;
      width: calc(100% - 20px);
      position: sticky;
      left: 0;
      display: flex;
      justify-content: flex-end;
    }
  }
}
