:root {
}

body {
  margin: 0;
  padding: 0;
  color: var(--najwer23snacks-textbox-p-font-color);
  background-color: var(--najwer23-color-surface);
  font-family: var(--najwer23snacks-font-family);
}
