:root {
  --surface: #eee;
  --linkColor: orangered;
  --linkColorHover: orangered;

  --n23mTextBoxColor: black;
}

body {
  background-color: var(--surface);
  margin: 0;
  padding: 0;
}

.n23mTextBoxLink {
  --n23mTextBoxColor: var(--linkColor);
  --n23mTextBoxColorHover: var(--linkColorHover);
}
