:root {
	--n23-color-primary: #7a2e44;
	--n23-color-on-primary: #324186;
	--n23-color-on-primary-active: #232f5c;
	--n23-color-on-primary-link-active: orange;
	--n23-color-secondary: #6a288a;
	--n23-color-on-secondary: #184a4e;

	--n23-color-surface: #e9ecef;
	--n23-color-font: #161925;

	--n23-color-error: #ff3333;
	--n23-color-success: #1f5120;
	--n23-color-warning: #424242;

	--n23-grey: #4d4d4d;

	--n23-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);

	--n23-font-weight-thiner: 200;
	--n23-font-weight-thin: 400;
	--n23-font-weight-normal: 600;
	--n23-font-weight-bold: 900;
	--n23-font-weight-semi-bold: 700;

	--n23-font-size-normal: 18px;
	--n23-font-size-big: 22px;
	--n23-font-size-small: 14px;
	--n23-font-size-semi-small: 16px;
	--n23-font-size-bigger: 28px;

	--n23-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
		segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
		sans-serif;

	/* Button */
	--n23-button-background-color: var(--n23-color-primary);
	--n23-button-background-color-on: var(--n23-color-on-primary);
	--n23-button-background-color-active: var(--n23-color-on-primary-active);
	--n23-button-background-color-focus: var(--n23-color-on-primary);
	--n23-button-background-color-disabled: var(--n23-grey);
	--n23-button-font-weight: var(--n23-font-weight-normal);
	--n23-button-font-size: var(--n23-font-size-normal);
	--n23-button-font-family: var(--n23-font-family);
	--n23-button-font-color: var(--n23-color-surface);
	--n23-button-shadow: var(--n23-shadow);

	/* Container */
	--n23-container-font-weight: var(--n23-font-weight-normal);
	--n23-container-font-family: var(--n23-font-family);

	/* Input */
	--n23-input-label-font-size: var(--n23-font-size-semi-small);
	--n23-input-label-font-family: var(--n23-font-family);
	--n23-input-label-font-weight: var(--n23-font-weight-semi-bold);
	--n23-input-label-font-color: var(--n23-color-font);

	--n23-input-input-font-size: var(--n23-font-size-normal);
	--n23-input-input-font-family: var(--n23-font-family);
	--n23-input-input-font-weight: var(--n23-font-weight-normal);
	--n23-input-input-font-color: var(--n23-color-font);
	--n23-input-input-border-color: var(--n23-color-font);
	--n23-input-input-placeholder-font-weight: var(
		--n23-input-input-placeholder-font-weight
	);

	--n23-input-error-font-size: var(--n23-font-size-small);
	--n23-input-error-font-family: var(--n23-font-family);
	--n23-input-error-font-weight: var(--n23-font-weight-normal);
	--n23-input-error-font-color: var(--n23-color-error);

	/* menuAside */
	--n23-menu-aside-background-color: var(--n23-color-surface);
	--n23-menu-aside-font-family: var(--n23-font-family);
	--n23-menu-aside-desktop-font-size: var(--n23-font-size-big);
	--n23-menu-aside-desktop-font-weight: var(--n23-font-weight-normal);
	--n23-menu-aside-desktop-font-color: var(--n23-color-font);
	--n23-menu-aside-desktop-underline-color-active: var(
		--n23-color-on-primary-link-active
	);
	--n23-menu-aside-border-color: var(--n23-color-font);

	--n23-menu-aside-mobile-font-size: var(--n23-font-size-big);
	--n23-menu-aside-mobile-font-weight: var(--n23-font-weight-normal);
	--n23-menu-aside-mobile-font-color: var(--n23-color-font);
	--n23-menu-aside-mobile-font-color-active: var(
		--n23-color-on-primary-link-active
	);

	--n23-menu-aside-title-font-size: var(--n23-font-size-bigger);
	--n23-menu-aside-title-font-weight: var(--n23-font-weight-bold);
	--n23-menu-aside-title-font-color: var(--n23-color-font);
	--n23-menu-aside-title-font-color-active: var(
		--n23-color-on-primary-link-active
	);
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--n23-color-surface);
}

@media (max-width: 575.98px) {
}

@media (max-width: 576px) and (max-width: 767.98px) {
}

@media (max-width: 768px) and (max-width: 991.98px) {
}

@media (max-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}
