.nav {
	box-sizing: border-box;
	max-width: 1920px;
	padding-left: 42px;
	padding-right: 42px;
	display: block;
	height: 100px;

	display: flex;
  justify-content: space-between;
  align-items: center;
	gap: 20px;
}

.nav-logo-title-wrapper a {
	text-decoration: none;
}

.nav-logo-title {
	background: linear-gradient(to top right,
	black calc(19% - 1px),
	rgba(0,0,0,0) 19%,
	rgba(0,0,0,0) calc(20% - 1px),
	#FF9800 20%,
	#FF9800 calc(39% - 1px),
	rgba(0,0,0,0) 39%,
	rgba(0,0,0,0) calc(40% - 1px),
	black 40%,
	black calc(59% - 1px),
	rgba(0,0,0,0) 59%,
	rgba(0,0,0,0) calc(60% - 1px),
	#FF9800 60%,
	#FF9800 calc(79% - 1px),
	rgba(0,0,0,0) 79%,rgba(0,0,0,0) calc(80% - 1px),
	grey 80%);

	background-clip: text;
	-webkit-background-clip: text;
	color: rgba(0,0,0,0);
	font-weight: 800;
	font-size: clamp(2rem, 0.924vw + 1.761rem, 2.5rem);
	line-height: clamp(2.688rem, 1.191vw + 2.38rem, 3.333rem);
}


.popup-menu {
	z-index: 999999;
	align-items: center;
	justify-content: center;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: var(--surface1);
	overflow: auto;

	top: 0;
	bottom: 0;
	left: 0;

	/* border-bottom-left-radius: 90%;
  transition: all 0.4s ease-in-out;
	transform: translate(100%, -100%); */
}

.popup-menu.active {
	display: block;
	/* transform: translate(0);
	border-bottom-left-radius: 0; */
}

.menu-open {
	overflow: hidden;
}

.popup-menu-button-close-wrapper {
	height: 100px;
	max-width: 1920px;
	padding-left: 42px;
	padding-right: 42px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}

.popup-menu-list {
	text-decoration: unset;
	text-align: right;
	list-style-type: none;
}

.popup-menu-list li a{
	color: black;
	text-decoration: none;
}




@media (max-width: 575.98px) {
	.nav {
		padding-left: 5%;

		padding-right: 5%	;
	}

	.popup-menu-button-close-wrapper {
		padding-left: 0;
		padding-right: 0;
		width: 90%;
	}
}

@media (max-width: 576px) and (max-width: 767.98px) { }

@media (max-width: 768px) and (max-width: 991.98px) { }

@media (max-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) and (max-width: 1399.98px) { }