html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
}

.footer-push {
	padding-bottom: 500px;
}

.footer-container-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* background-color: #24272b; */
}

.footer-container {
	padding: 100px 42px 100px 42px;
	display: flex;
	max-width: 1920px;
	margin: auto;
	flex-wrap: wrap;
}

.footer-container-col {
	width: 33.3333333%;
}

.footer-container-col.center {
	text-align: center;
	letter-spacing: 5px;
	font-size: 40px;
	color: #24272b;
	font-weight: bold;
}

.footer-social {
	margin-top: 40px;
	display: flex;
	gap: 25px;
	font-size: 40px;
	margin-bottom: 40px;
}

.footer-container-child {
	color: #24272b;
	margin-bottom: 5px;
	font-size: 18px;
}

footer a:visited,
footer a:focus,
footer a:hover,
footer a {
	color: #24272b;
	text-decoration: none;
}

.footer-container-col.right {
	text-align: right;
}


@media (max-width: 1050px) {

	.footer-container-col {
		width: 100%;
	}

	.footer-push {
		padding-bottom: 450px;
	}

	.footer-container-col.center,
	.footer-container-col.right {
		text-align: left;
		margin-top: 30px;
		font-size: 25px;
	}

	.footer-social {
		font-size: 25px;
	}
}

@media (max-width: 500px) {
	.footer-push {
		padding-bottom: 450px;
	}

	.footer-container {
		padding: 100px 0px;
		width: 90%;
	}
}
