@layer Form {
  .inputWithLabel {
    display: flex;
    flex-direction: column;
    max-width: 480px;

    & label {
      font-size: 16px;
      line-height: 26px;
    }

    & input {
      box-sizing: border-box;
      height: 40px;
      font-size: 16px;
      font-weight: 500;
      padding: 10px;
      font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
    }

    & .error {
      font-size: 14px;
      line-height: 1;
      margin: 2px;
      color: red;
    }

    & textarea {
      padding: 10px;
      box-sizing: border-box;
      min-height: 200px;
      max-width: 480px;
      max-height: 400px;
      font-size: 16px;
      font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
    }
  }
}
